<app-navbar>
    <app-card-content [title]="'Employees'" [subtitle]="'You can browse through employees below'"></app-card-content>
    <hr>
    <div class="content-list mt-4">
        <div class="content-list-body row">
            <app-avatar-card class="col-lg-6" *ngFor="let employee of employeeList$ | async"
                [fullName]="employee.firstName + ' ' + employee.lastName" [position]="employee.position"
                [photo]="employee.avatarUrl" [id]="'/employee/'+ employee.id"></app-avatar-card>
        </div>
    </div>
</app-navbar>